.example-small-box, .example-large-box {
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
    border: 2px solid red;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
    border: 10px solid green;
  }