<div class="book-cart-main">
    <div class="book-mycart-container">
        <h2 class="books-home" (click)="dashBoard()">Home / </h2>
        <h2 class="books-mycart"> &nbsp; My Cart</h2>
    </div>
    <!-- Cart-details -->
    <mat-card *ngIf="!showMycart" class="order-mat-container">
        <div class="order-details-false">My Cart (0)</div>
    </mat-card>

    <mat-card *ngIf="showMycart" class="my-cart-mat-container">
        <div class="my-cart-select-container">
            <div class="Mycart001">My cart ({{totalQtyToBuy}})</div>
            <select class="Select-container">
                <option value="">BridgeLabz Solutions LLP, No...</option>
            </select>
        </div>

        <div *ngFor="let item of cartItems" class="cart-item-array-container">
            <div class="cart-item-content">
                <div class="bookImage">
                    <img src="../../../assets/book image/Image 11.png" alt="">
                </div>
                <div class="book-details">
                    <div class="cart-book-title">{{item.product_id.bookName}}</div>
                    <div class="cart-book-author">{{item.product_id.author}}</div>
                    <div class="price-cart-container">
                        <div class="discountedprice">Rs. {{item.product_id.discountPrice}}</div>
                        <div class="price">Rs.{{item.product_id.price}}</div>
                    </div>
                    <div class="cart-qty-control-container">
                        <div class="qty-ctrl">
                            <button class="dec-btn btn" (click)="DecreaseQty(item._id,item.quantityToBuy)">-</button>
                            <div class="cart-qty-box">{{item.quantityToBuy}}</div>
                            <button class="inc-btn btn" (click)="IncreaseQty(item._id,item.quantityToBuy)">+</button>
                        </div>
                        <button (click)="removeCartItem(item._id)" class="remove-cart btn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="placeOrderBtn" class="place-order-container">
            <button class="plc-order-btn" (click)="placeOrder()">PLACE ORDER</button>
        </div>
    </mat-card>
    <!-- Address Details -->
    <mat-card class="address-mat-container">
        <div class="if-else-address">
            <div *ngIf="!showAddressForm" class="Address-details-false">Address Details</div>
            <div *ngIf="showAddressForm" class="address form">
                <div class="address-first-row">
                    <div class="cc-details-tt">Customer Details</div>
                    <div class="add-new-add">Add New Address</div>
                </div>
                <form [formGroup]="AddressDataForm">
                <div class="form-data-container">
                    
                    <div class="name-mobile">
                        <!-- Name -->
                        <div class="f-name-container">
                            <mat-form-field appearance="outline" [style.width]="'251px'">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Full Name" formControlName="fullName">
                                <mat-error>{{nameError}}</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Mobile -->
                        <div class="mobile-container">
                            <mat-form-field appearance="outline" [style.width]="'251px'">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Mobile Number"formControlName="mobileNumber">
                                <mat-error>{{mobileError}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="address-container">
                        <mat-form-field appearance="outline" class="text-area-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="fullAddress"></textarea>
                            <mat-error>{{AddressError}}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- City and State -->
                    <div class="name-mobile">
                        <!-- City -->
                        <div class="f-name-container">
                            <mat-form-field appearance="outline" [style.width]="'251px'">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" formControlName="city">
                                <mat-error>{{cityError}}</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- State -->
                        <div class="mobile-container">
                            <mat-form-field appearance="outline" [style.width]="'251px'">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state" >
                                <mat-error>{{stateError}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Address type -->
                    <mat-radio-group aria-label="Select an option" formControlName="addressType">
                        <mat-radio-button class="radio" value="Home">Home</mat-radio-button>
                        <mat-radio-button class="radio" value="Office">Work</mat-radio-button>
                        <mat-radio-button class="radio" value="Other">Other</mat-radio-button>
                      </mat-radio-group>
                   
                </div>
                <div *ngIf="continueBtn" class="contd-btn-container">
                    <button type="submit" (click)="continueClick()" class="contd-btn">Continue</button>
                </div>
            </form>
            </div>
        </div>
    </mat-card>

    <!-- Order Summery -->
    <mat-card *ngIf="!ShowOrderSumm" class="order-mat-container">
        <div class="order-details-false">Order summery</div>
    </mat-card>

    <mat-card *ngIf="ShowOrderSumm" class="my-cart-mat-container">
        <div class="my-cart-select-container">
            <div class="Mycart002">Order summery</div>
        </div>

        <div *ngFor="let item of cartItems" class="cart-item-array-container">
            <div class="cart-item-content">
                <div class="bookImage">
                    <img src="../../../assets/book image/Image 11.png" alt="">
                </div>
                <div class="book-details">
                    <div class="cart-book-title">{{item.product_id.bookName}}</div>
                    <div class="cart-book-author">{{item.product_id.author}}</div>
                    <div class="price-cart-container">
                        <div class="discountedprice">Rs. {{item.product_id.discountPrice}}</div>
                        <div class="price">Rs.{{item.product_id.price}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Amount -->
        <hr>
        <div class="total-amount-container">
            <div class="total-amount-title">Total Amount</div>
            <div class="total-amount">Rs. {{totalAmount}}</div>
        </div>
        <hr>
        <!-- Checkout btn -->
        <div class="place-order-container">
            <button class="plc-order-btn" (click)="checkout()">CHECKOUT</button>
        </div>
    </mat-card>


</div>